body{background-color: white; color:#0a0a0a; font: sans-serif; line-height:
1.6em; }
h1 {color:#1333e9;}  p{color: black;}
.container{
width: 80%;
margin: auto;}
.box-1{
background-color: rgb(245, 228, 136);
margin: 0;
color: #fff;}
.box-2{
background-color: rgb(245, 228, 136);
margin: 0;
color: black;}


@media(min-width:500px)
{
.container-1{
display: flex;        
} 

}
.container-1 div{border: 1px #ccc solid; padding:5%;}
.box-1{ flex: 1; order: 1;}
.box-2{ flex: 1;  order: 2;}

.flex01{background-color: white;}

body{width: 100%;  padding: auto; padding-top: 2%; background-color: white;}
p{color: black; text-align: justify;}

@media(min-width: 500px) 
{
#mainheader{
background-image: url(1.jpg); height:fit-content;  background-size: cover; 
text-align: center; 
padding: 10%;
background-repeat: no-repeat;
width: auto;
}

nav{ text-decoration: none; text-align: center; 
font-family: sans-serif; 
font-size: 30pt; color: white;}
#pages ul{list-style-type: none;  word-spacing: 10pt;}
#pages li{display: inline;}

.button{
text-decoration: none; 
color: black; font-style: italic; 
font-size: 15pt;
background-size: 100%;
background-color:rgba(255, 255, 255, 0.5);
padding: 1%;
}
.button:hover{ color: blue; background-color: gray;}

a{
text-decoration: none; 
color: black; font-style: italic; 
font-size: 15pt;
background-size: 100%; 
background-color:white;
padding: 1%;
}
.intro{color: black; background-color: white; padding: 5%; padding-top: 1%;padding-bottom: 1%; 
font-family: sans-serif;}

#story02{font-family: 'sans-serif'; font-size: 20pt;}

#story3{
color: black;
background-color: rgb(182, 179, 179); background-color: white; 
color: black;  
font-family: 'sans-serif';
text-decoration: none;
color: black;  text-transform: capitalize; 
padding: 5%;  padding-top: 0%;
}
